.background-image {
  animation: fade-in .3s ease-in-out;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
}

.content {
  left: -50%;
  position: relative;
  text-align: center;
  width: 80vw;
}

.content-wrapper {
  left: 50%;
  position: absolute;
  top: 52vh;
}

.credit {
  bottom: 1vw;
  color: lightgray;
  font-size: 14px;
  left: 1vw;
  position: absolute;
}

.credit a {
  color: lightgray;
  text-decoration: none;
}

.drawer>div {
  background: rgb(250, 250, 250);
}

.fade-in {
  animation: fade-in .3s ease-in-out;
}

.fade-in-slow {
  animation: fade-in .8s ease-in-out;
}

.goal-checkbox-dim {
  color: ghostwhite;
  opacity: .5;
}

.goal-completed {
  text-decoration: line-through;
}

.goal-timeline input {
  text-align: right;
  padding-right: 1vw;
}

.goal-two {
  visibility: hidden;
}

.goal-two input {
  text-overflow: ellipsis;
}

.goals-container {
  display: flex;
  justify-content: center;
}

.goals-container * {
  color: white !important;
  font-size: 1.5vw !important;
}

.hidden-goal {
  position: absolute;
  visibility: hidden;
}

.loading-screen {
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
}

.loading-screen-text {
  color: darkgray;
  font-size: 5vw;
  font-weight: bolder;
  position: relative;
  text-align: center;
  top: 45%;
}

.monospace {
  font-family: "Roboto Mono";
}

.name>input {
  bottom: 2vw;
  color: white;
  font-family: "Hind Madurai", sans-serif;
  font-size: 4vw;
  position: relative;
  text-align: center;
}

.notes {
  background: rgb(250, 250, 250);
  border: solid transparent;
  font-size: 16px;
  height: 88vh;
  margin: 20px 0 10px 0;
  outline: none;
  padding: 0 20px;
  resize: none;
  width: 30vw;
}

.notes-close-icon {
  left: 10px;
  position: relative;
  top: 16px;
}

.notes-font-icon {
  margin-right: 22px;
  position: relative;
  right: 10px;
  top: 18px;
}

.notes-header {
  background: white;
  box-shadow: 0 -5px 15px #888888;
  display: flex;
  text-align: center;
}

.notes-open-icon {
  position: absolute;
  right: 0;
  top: 12px;
}

.notes-title {
  font-size: 18px;
  margin: auto;
  padding: 16px;
}

.pin-icon {
  height: 24px;
  margin: 1px 10px 0 0;
  transform: rotate(40deg);
  width: 24px;
}

.reload-icon {
  margin-right: 12px;
}

.rotate {
  animation: rotate .7s cubic-bezier(0, .5, 1, 1) infinite;
}

.rotate-in {
  animation: rotate-in .7s cubic-bezier(0, .5, 1, 1) 1;
}

.selected {
  text-decoration: overline;
}

.settings-text {
  font-size: 16px;
}

.settings-toggle {
  color: white;
  margin-right: 22px;
}

.settings-toggle>path {
  fill: white;
}

.time {
  color: white;
  font-size: 10vw;
}

.time-hide {
  height: 12vw;
  visibility: hidden;
}

.upper-left {
  align-items: center;
  display: flex;
  left: 16px;
  position: absolute;
  top: 10px;
}

.upper-left:hover, .upper-right:hover, .notes-font-icon {
  cursor: default;
}

.upper-right {
  align-items: center;
  display: flex;
  position: absolute;
  right: 45px;
  top: 15px;
}

.zoom {
  animation: 50s ease-in-out forwards zoomin infinite;
  transform: scale(1.8);
  transform-origin: 50vw 30vh;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.8);
  }
  95% {
    background-color: gray;
    opacity: 0.4;
  }
}

/* .goal {
  vertical-align: baseline;
}

.goal input {
  color: white;
  font-size: 1.5vw;
  padding: 0
}

.goal .completed {
  text-decoration: line-through;
  color: white !important
}

.goal-checkbox>span {
  padding: 0 10px .1vw 15px;
  font-size: 1.7vw
}

.goal-checkbox-dim {
  color: ghostwhite;
  opacity: .5;
}

.goals-container {
  color: white;
  text-align: right;
  width: fit-content;
  margin: auto;
}

.goals-timeline {
  font-size: 1.5vw;
  padding: .1vw 10px 0 0
} */