.duration {
  margin-right: 10px;
}

.goals {
  margin-top: 1px;
  /* max-width: 85vw; */
}

.goals-container {
  display: flex;
}

.goals-container div,
.goals-container svg,
.goals-container input {
  font-size: 2.5vw;
}

.goal {
  transition: 0.3s;
  display: flex;
  align-items: center;
}

/* align the radio button with the input */
.goal > .radio-button {
  display: flex;
  margin-right: 2px;
}

.hidden {
  opacity: 0;
}
