.pin-icon {
  width: 24px;
  height: 24px;
  transform: rotate(40deg);
  margin: 1px 10px 0 0;
  fill: white;
}

.background-image {
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  animation: fade-in 0.3s ease-in-out;
}

/*
.background-image {
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
*/

.rotate {
  animation: rotate 0.7s cubic-bezier(0, 0.5, 1, 1) infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
