.settings-container {
  display: flex;
}

.settings-container > div {
  margin-right: 16px;
}

.settings-container > div:hover {
  cursor: pointer;
}

.settings-container > div:last-child {
  margin-right: 0;
}

.selected {
  text-decoration: overline;
}
