.amPM {
  font-size: 7vw;
}

.time-container {
  font-size: 10vw;
}

.time-container:hover {
  cursor: pointer;
}

.separator {
  color: inherit;
  transition: 0.2s;
}

.hide {
  color: transparent;
}
