.background-image {
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  animation: fade-in 0.3s ease-in-out;
}
.query {
  width: 110px;
  border: solid thin;
  padding: 5px;
  text-overflow: ellipsis;
}

.pin-icon {
  width: 24px;
  height: 24px;
  transform: rotate(40deg);
  margin: 1px -5px 0 0;
  fill: white;
}

.pin-icon,
.rotate,
.rotate-in:hover {
  cursor: pointer;
}

.rotate {
  animation: rotate 0.7s cubic-bezier(0, 0.5, 1, 1) infinite;
}

.rotate-in {
  animation: rotate 0.7s cubic-bezier(0, 0.5, 1, 1) 1;
}

.search-container {
  display: flex;
}

.search-container > * {
  margin-right: 18px;
}

.settings-container {
  display: flex;
}

.settings-container > div {
  margin-right: 18px;
}

.settings-container > div:hover {
  cursor: pointer;
}

.settings-container > div:last-child {
  margin-right: 0;
}

.selected {
  text-decoration: overline;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 16px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
