.background-image {
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  animation: fade-in .3s ease-in-out;
}

.loading-screen {
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
}

.content-wrapper {
  left: 50%;
  position: absolute;
  top: 52vh;
}

.content-wrapper-with-goals {
  left: 50%;
  position: absolute;
  top: 35vh;
}

.content {
  position: relative;
  left: -50%;
  text-align: center;
  width: 80vw;
}

.drawer>div {
  background: rgb(250, 250, 250);
}

.fade-in {
  animation: fade-in .3s ease-in-out;
}

.fade-in-again {
  animation: fade-in .3s ease-in-out;
}

.goal {
  text-align: left;
}

.goal-checkbox-dim {
  color: ghostwhite;
  opacity: .5;
}

.goal-checkbox span {
  cursor: default;
}

.goal input {
  text-overflow: ellipsis;
}

.goals-container * {
  font-size: 1.5vw !important;
  color: white !important
}

.goals-timeline input {
  text-align: right;
  padding-right: 1vw;
}

.goals-timeline-wrapper {
  display: flex;
  justify-content: center;
}

.goal-two {
  visibility: hidden;
}

.hidden-goal {
  position: absolute;
  visibility: hidden;
}

.loading-screen-text {
  text-align: center;
  position: relative;
  top: 45%;
  font-size: 5vw;
  color: darkgray;
  font-weight: bolder;
}

.name>input {
  bottom: 2vw;
  color: white;
  font-size: 4vw;
  font-family: "Hind Madurai", sans-serif;
  position: relative;
  text-align: center;
}

.notes {
  width: 30vw;
  border: solid transparent;
  margin: 20px 0 10px 0;
  height: 88vh;
  outline: none;
  resize: none;
  font-size: 16px;
  background: rgb(250, 250, 250);
  padding: 0 20px;
}

.monospace {
  font-family: "Roboto Mono";
}

.notes-close-icon {
  position: relative;
  top: 16px;
  left: 10px;
}

.notes-font-icon {
  position: relative;
  top: 18px;
  right: 10px;
  margin-right: 22px;
}

.notes-open-icon {
  position: absolute;
  top: 12px;
  right: 0;
}

.notes-header {
  text-align: center;
  display: flex;
  background: white;
  box-shadow: 0 -5px 15px #888888;
}

.notes-title {
  font-size: 18px;
  padding: 16px;
  margin: auto;
}

.credit {
  bottom: 1vw;
  color: lightgray;
  font-size: 14px;
  left: 1vw;
  position: absolute;
}

.credit a {
  color: lightgray;
  text-decoration: none;
}

.zoom {
  animation: 50s ease-in-out forwards zoomin infinite;
  transform-origin: 50vw 30vh;
  transform: scale(1.8);
}

.upper-left {
  left: 16px;
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
}

.upper-right {
  right: 45px;
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
}

.upper-left:hover,
.upper-right:hover,
.notes-font-icon {
  cursor: default;
}

.settings-toggle {
  color: white;
  margin-right: 22px;
}

.settings-toggle>path {
  fill: white;
}

.pin-icon {
  width: 24px;
  height: 24px;
  transform: rotate(40deg);
  margin: 1px 10px 0 0;
}

.reload-icon {
  margin-right: 12px;
}

.settings-text {
  font-size: 16px;
}

.selected {
  text-decoration: overline;
}

.time {
  color: white;
  font-size: 10vw;
}

.time-hide {
  visibility: hidden;
  height: 12vw;
}

.rotate {
  animation: rotate .7s cubic-bezier(0, .5, 1, 1) infinite
}

.rotate-in {
  animation: rotate-in .7s cubic-bezier(0, .5, 1, 1) 1
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.8);
    opacity: 1;
  }

  95% {
    opacity: 0.4;
    background-color: gray;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}