.layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* prevent highlighting */
  user-select: none;
  transition: 0.3s;
}

.layout-time,
.layout-greeting,
.layout-goals {
  position: relative;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}

.layout-time {
  height: 11.5vw;
  left: 0.6vw;
}

.serif,
.serif * {
  font-family: "Noto Serif";
}
