body {
  color: white;
  font-family: "Hind Madurai", sans-serif !important;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  background: darksalmon;
  /* background: gray; */
}

input,
textarea,
button {
  border: none;
  padding: none;
  color: white;
  background: transparent;
  transition: 0.3s;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}
